$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap.flatly.css";

/* Put your CSS here */

body {
  padding-top: 50px;
}
