<div class="page-header">
  <h1>
    <!-- TODO use ng-if directive from Angular 1.2 -->
    <span ng-show="isNew">Add a new climb</span>
    <span ng-hide="isNew">Climb detail</span>
  </h1>
</div>

<label class="radio inline">
  <input type="radio" ng-model="climb.status" name="climbStatus">
  Fail
</label>
<label class="radio inline">
  <input type="radio" ng-model="climb.status" name="climbStatus">
  Pass
</label>

<label class="checkbox">
      <input type="checkbox" ng-model="climb.lead"> Lead
</label>

<textarea rows="3" ng-model="climb.note"></textarea>

<button class="btn" ng-click="save()">Save</button>
