<div class="page-header">
  <h1>
    {{place.name}}
    <small>{{place.city}}</small>
  </h1>
</div>

  <ul class="routelist">
      <li ng-repeat="route in routes" class="route">
        <a href="#/route/{{route.objectId}}">
          <span class="grade" style="background-color:#{{route.color[0]}}">{{route.grade}}</span> {{route.name}}
        </a>
        <button class="btn quick-climb" ng-click="quickClimb(route.objectId)"><i class="icon-check"></i></button>
      </li>
  </ul>

<a href="#/route/new?place={{place.objectId}}" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> New route</a>
