<div class="page-header">
  <h1>
    {{place.name}}
    <small>{{place.city}}</small>
  </h1>
  
  <a href="#/place/{{place.objectId}}/edit" class="btn btn-default btn-xs">Edit</a>
</div>

  <ul class="list-group">
      <li ng-repeat="route in routes" class="list-group-item">
        <a href="#/route/{{route.objectId}}">
          <span class="number">{{route.number}}</span>: <span class="grade" style="background-color:{{route.color[0].value}}">{{route.grade}}</span> {{route.name}}
        </a>
        <button class="btn quick-climb" ng-click="quickClimb(route.objectId)"><span class="glyphicon glyphicon-check"></span></button>
      </li>
  </ul>

<a href="#/route/new?place={{place.objectId}}" class="btn btn-default">New route</a>
