<div class="page-header">
  <h1><span class="grade" style="background-color:#{{route.color[0]}}">{{route.grade}}</span>
    {{route.name}}
    <small>({{route.number}}) by {{route.opener}} - {{route.openedAt.iso | date}}</small>
  </h1>
</div>

<a href="#/climb/new?route={{route.objectId}}" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Climbed it</a>

<p>Type: {{route.type}}</p>

<h3>Instructions</h3>
<p>{{route.instructions}}</p>

<a href="#/route/{{route.objectId}}/edit">edit route</a>
